@font-face {
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url(/edu/fonts/noto-serif-sc-0.woff2) format('woff2');
  unicode-range: U+30-39, U+3001-3002, U+300c-300d, U+4e00, U+4e0a-4e0b, U+4e0d, U+4e13, U+4e2a, U+4e2d, U+4e94, U+4eab, U+4eba, U+4ebf, U+5143, U+5171, U+518d, U+5206, U+5269, U+529b, U+52a0, U+5385, U+53c2, U+53d6, U+53e6, U+53ea, U+53f0, U+53f7, U+5408, U+540e, U+5417, U+5462, U+54ea, U+5728, U+5927, U+5ba2, U+5ba4, U+5bb6, U+5c42, U+5e38, U+5f55, U+610f, U+6211, U+62a5, U+6302, U+6309, U+6392, U+63a5, U+6570, U+6574, U+6587, U+662f, U+672c, U+680b, U+697c, U+6bcf, U+6df7, U+7136, U+7248, U+7528, U+7684, U+793a, U+7b2c, U+7b97, U+7bc7, U+7c97, U+7cd6, U+7ef3, U+7f16, U+8981, U+8ba1, U+8bb0, U+8bca, U+8bcd, U+8be5, U+8bf4, U+8d70, U+8d8a, U+8fd9, U+9009, U+90fd, U+91cc, U+95e8, U+961f, U+9879, U+9884, U+9898, U+ff08-ff09, U+ff0b-ff0c, U+ff1a, U+ff1f;
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url(/edu/fonts/noto-sans-sc-0.woff2) format('woff2');
  unicode-range: U+30-39, U+3001-3002, U+300c-300d, U+4e00, U+4e0a-4e0b, U+4e0d, U+4e13, U+4e2a, U+4e2d, U+4e94, U+4eab, U+4eba, U+4ebf, U+5143, U+5171, U+518d, U+5206, U+5269, U+529b, U+52a0, U+5385, U+53c2, U+53d6, U+53e6, U+53ea, U+53f0, U+53f7, U+5408, U+540e, U+5417, U+5462, U+54ea, U+5728, U+5927, U+5ba2, U+5ba4, U+5bb6, U+5c42, U+5e38, U+5f55, U+610f, U+6211, U+62a5, U+6302, U+6309, U+6392, U+63a5, U+6570, U+6574, U+6587, U+662f, U+672c, U+680b, U+697c, U+6bcf, U+6df7, U+7136, U+7248, U+7528, U+7684, U+793a, U+7b2c, U+7b97, U+7bc7, U+7c97, U+7cd6, U+7ef3, U+7f16, U+8981, U+8ba1, U+8bb0, U+8bca, U+8bcd, U+8be5, U+8bf4, U+8d70, U+8d8a, U+8fd9, U+9009, U+90fd, U+91cc, U+95e8, U+961f, U+9879, U+9884, U+9898, U+ff08-ff09, U+ff0b-ff0c, U+ff1a, U+ff1f;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url(/edu/fonts/noto-sans-sc-0.woff2) format('woff2');
  unicode-range: U+30-39, U+3001-3002, U+300c-300d, U+4e00, U+4e0a-4e0b, U+4e0d, U+4e13, U+4e2a, U+4e2d, U+4e94, U+4eab, U+4eba, U+4ebf, U+5143, U+5171, U+518d, U+5206, U+5269, U+529b, U+52a0, U+5385, U+53c2, U+53d6, U+53e6, U+53ea, U+53f0, U+53f7, U+5408, U+540e, U+5417, U+5462, U+54ea, U+5728, U+5927, U+5ba2, U+5ba4, U+5bb6, U+5c42, U+5e38, U+5f55, U+610f, U+6211, U+62a5, U+6302, U+6309, U+6392, U+63a5, U+6570, U+6574, U+6587, U+662f, U+672c, U+680b, U+697c, U+6bcf, U+6df7, U+7136, U+7248, U+7528, U+7684, U+793a, U+7b2c, U+7b97, U+7bc7, U+7c97, U+7cd6, U+7ef3, U+7f16, U+8981, U+8ba1, U+8bb0, U+8bca, U+8bcd, U+8be5, U+8bf4, U+8d70, U+8d8a, U+8fd9, U+9009, U+90fd, U+91cc, U+95e8, U+961f, U+9879, U+9884, U+9898, U+ff08-ff09, U+ff0b-ff0c, U+ff1a, U+ff1f;
}

@font-face {
  font-family: 'Long Cang';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(/edu/fonts/long-cang-0.woff2) format('woff2');
  unicode-range: U+30-39, U+3001-3002, U+300c-300d, U+4e00, U+4e0a-4e0b, U+4e0d, U+4e13, U+4e2a, U+4e2d, U+4e94, U+4eab, U+4eba, U+4ebf, U+5143, U+5171, U+518d, U+5206, U+5269, U+529b, U+52a0, U+5385, U+53c2, U+53d6, U+53e6, U+53ea, U+53f0, U+53f7, U+5408, U+540e, U+5417, U+5462, U+54ea, U+5728, U+5927, U+5ba2, U+5ba4, U+5bb6, U+5c42, U+5e38, U+5f55, U+610f, U+6211, U+62a5, U+6302, U+6309, U+6392, U+63a5, U+6570, U+6574, U+6587, U+662f, U+672c, U+680b, U+697c, U+6bcf, U+6df7, U+7136, U+7248, U+7528, U+7684, U+793a, U+7b2c, U+7b97, U+7bc7, U+7c97, U+7cd6, U+7ef3, U+7f16, U+8981, U+8ba1, U+8bb0, U+8bca, U+8bcd, U+8be5, U+8bf4, U+8d70, U+8d8a, U+8fd9, U+9009, U+90fd, U+91cc, U+95e8, U+961f, U+9879, U+9884, U+9898, U+ff08-ff09, U+ff0b-ff0c, U+ff1a, U+ff1f;
}
